//links
$link-color: #212529;              
$link-hover-color: #2f4f4f;

// Body
$body-bg: #E5E5E5;; //#f8fafc;

// Typography
$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; //'Nunito', sans-serif;
$font-size-base: 1rem; //0.9rem;
$line-height-base: 1.6;

$primary: #2f4f4f;
$secondary: #FFAB2B;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
